body{
	
font-family: "Helvetica", "Arial", fantasy;
	
color: #2E86C1;
	background-color: #FA8072;
	
text-shadow: 1px 1px #ff0000;
	text-align: center;

}



h1 {
	
color: #2E86C1;
	
font-size: 1.3em;
	
text-align: center;
	
text-shadow: 1px 1px #ff0000;
}


td, th {
	
color: #2E86C1;
    
border: 1px solid #dddddd;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(even) {
    
background-color: #99A3A4;

}
